[submodule "1Khenzii__nixos-config"]
	path = 1Khenzii__nixos-config
	url = https://github.com/Khenziii/nixos-config.git
[submodule "2sir_ethanator"]
	path = 2sir_ethanator
	url = https://github.com/SirEthanator/Hyprland-Dots.git
[submodule "3starter_config"]
	path = 3starter_config
	url = https://github.com/Misterio77/nix-starter-configs.git
[submodule "4justgivemeaname"]
	path = 4justgivemeaname
	url = https://codeberg.org/justgivemeaname/.dotfiles.git
[submodule "2jason-config"]
	path = 2jason-config
	url = https://github.com/jason9075/nixos-config.git
[submodule "5brunoc"]
	path = 5brunoc
	url = https://codeberg.org/brunoc/nixos-files.git
[submodule "6emmet"]
	path = 6emmet
	url = https://gitlab.com/librephoenix/nixos-config.git
[submodule "7misterio"]
	path = 7misterio
	url = https://github.com/Misterio77/nix-config.git
